/* mobile */
.top-header{
  display: flex;
  justify-content: space-around;
  max-height: 222px;
  max-width: 100%;
}
#top-logo{
  justify-content: center;
  height: 174px;
  width: 174px;

}
#mini-menu{
  justify-content: flex-start;
  align-self: center;
  height: 18px;
  width: 24px;
}
.picture-display{
  display: flex;
  justify-content: space-between;
  width: 12.5%;
  height: 12.5%;
}
.middle{
  display: flex;
}
.bottom-bar{
  display: flex;
}

/* desktop */
